<h1>Our Hours</h1>

<ul>
    <li>M - 10am - 10pm</li>
    <li>T - 10am - 10pm</li>
    <li>W - 10am - 10pm</li>
    <li>Th - 10am - 10pm</li>
    <li>F - 11am - 11pm</li>
    <li>S - 11am - 11pm</li>
    <li>Su - 11am - 11pm</li>
</ul>